.header-wrapper {
    background-color: var(--primary-color);

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    position: relative;

    border: 1px solid rgb(211, 211, 211);

    box-shadow: 3px 3px 5px 3px rgb(224, 224, 224);
}

.logo-container {
    grid-column: span 11;
    display: flex;
    align-items: center;

}

/* .site-logo {

} */

.site-title {

    margin: 0;
}


/* "below CSS adapted from https://css.gg under the MIT License" */
.gg-menu {
    transform: scale(var(--ggs,1))
   }
   
   .gg-menu,
   .gg-menu::after,
   .gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor
   }
   
   .gg-menu::after,
   .gg-menu::before {
    content: "";
    position: absolute;
    top: -6px
   }
   
   .gg-menu::after {
    top: 6px
   } 

   .gg-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
   }
   
   .gg-close::after,
   .gg-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
   }
   
   .gg-close::after {
    transform: rotate(-45deg)
   } 

.menu-button {
    grid-column: span 1;

    border: none;
    background-color: inherit;
}

.menu-button:hover {
    cursor: pointer;
}

.nav-bar {    
    position: absolute;
    top: 100%;

    width: 100%;
    padding: 1rem;
    
    background-color: papayawhip;
    
    display: flex;
    flex-direction: column;
    
    display: none;
}

.nav-bar.open {
    display: flex;
}

.nav-menu {
    order: 2;

    list-style: none;
    
    padding: 0;
}

.menu-link {
    text-decoration: none;
}

.menu-link:hover {
    cursor: pointer;
}

.nav-control {
    order: 1;

    display: flex;
    align-items: center;
}

@media (min-width: 50rem) {
    .logo-container {
        grid-column: span 3;
    }

    .nav-bar {
        grid-column: span 8;
        display: flex;
        flex-direction: row;

        position: initial;

        padding: 0;
        
        background-color: var(--primary-color);
    }

    .menu-button {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;

        width: 100%;
        margin: 0;
    }

    .nav-control {
        order: 2;
    }
}
    